DATABASE_URL="postgresql://user:user@localhost:5435/pg?schema=public"
PORT=8000

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
FRONTEND_URL=http://localhost:3000
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=nvidia/nemotron-nano-12b-v2-vl:free
# OPENROUTER_MODEL=allenai/olmo-3-32b-think:free

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite